blis
catalogue
certifi
chardet
click
cymem
Flask
gensim
idna
importlib-metadata
itsdangerous
Jinja2
joblib
MarkupSafe
murmurhash
nltk
numpy
plac
preshed
PyPDF2
regex
requests
scikit-learn
scipy==1.11.4
six
smart-open
spacy
srsly
thinc
threadpoolctl
tqdm
urllib3
wasabi
Werkzeug
zipp


python -m spacy download en_core_web_md
python -m spacy download en_core_web_sm
nltk.download("stopwords")
nltk.download("punkt")